<head>
    <!-- ===== Meta / Base ===== -->
    <link href="css/appearance-base.css" rel="stylesheet" />
    <link href="css/appearance-utilities.css" rel="stylesheet" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <!-- ===== Vendor CSS (frameworks & UI libraries) ===== -->
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/Telerik.UI.for.Blazor/css/kendo-theme-default/all.css" />
    <script src="_content/Telerik.UI.for.Blazor/js/telerik-blazor.js"></script>
    <!-- ===== App Styles (order: library-generated -> your site CSS) ===== -->
    <link rel="stylesheet" href="Prototype.styles.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="badges.css" />
    <link rel="stylesheet" href="global.css" />
    <link rel="stylesheet" href="NavMenu.razor.css" />
    <link rel="stylesheet" href="appearance-page-dark-mode.css" />
    <!-- ===== Icons / Fonts (optional) ===== -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!-- ===== Favicons ===== -->
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet @rendermode="InteractiveServer" />
    <script src="js/file-download.js"></script>
</head>
<body>
    <main>
        <Routes @rendermode="InteractiveServer" />
    </main>

    <!-- Blazor bootstrap (must be last in body) -->
    <script src="_framework/blazor.web.js"></script>

    <script src="js/appearance-manager.js"></script>
</body>