@page "/"
@using Prototype.Components.Layout.Navigation.Sidebar
@inherits ComponentBase
@inject ISidebarState Sidebar

<PageTitle>Home</PageTitle>

<div class="layout-no-sidebar">
    <header class="top-nav">
        <h2>IBN Dealer Suite</h2>
    </header>

    <main class="main-content">
        <h1>Welcome</h1>
    </main>
</div>

